[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=pulseaudio
Comment=
Exec=pulseaudio --system --daemonize --disallow-exit --disallow-module-loading
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false