[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=QJoyPad
Comment=
Exec=qjoypad "Default"
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

